$background: #FFFFFF; /* Background */
$light-grey: #f1f1f1; /* for better monitors e5e5e5 suits better, for poor displays f9f9f9 is better */
$light-gray: $light-grey;

$color: #231F20; /* Font, black */
$grey: #6F6E6E;
$gray: $grey;

$highlight: #982022; /* Link, OCCRP red */
$red: #E43033; /* From Kuler, based on $highlight */
$blue: #259CE4; /* From Kuler, based on $highlight */
$yellow: #A5A333; /* From Kuler, based on $highlight */


