/* Navigation arrows
*/
@mixin navigation-arrows {
  position: relative;
  height: 100%;
  
  &:before, &:after {
    content: $arrow-down;
    font-size: $before-font-size;
    
    position: absolute;
    top: 40%;
    
    cursor: pointer;
    
    @include color(navigation);
    padding: $pad/4;
    opacity: .7;
  }
  
  &:before {
    @include transform(rotate(180deg));
  }
  
  &:after {
    right: 0;
    float: right;
  }
}





/* Displays an <ul> list inline
*/
@mixin list-inline($margin-right: $pad/2) {
  li {
    display: inline-block;
    float: left;
    margin-right: $margin-right;
    
    &:last-of-type {
      margin-right: 0;
    }  
  }
}

/* Transforms an inline list back to normal
*/
@mixin list-normal {
  li {
    display: block;
    margin-right: none;
    float: none;
    padding-left: 0;
    
    &:before {
      content: '';
    }
  }
}


/* Centers an inline list
*/
@mixin list-centered {
  text-align: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}


/* List floated right
*/
@mixin list-floated-right {
  float: right;
}



