

/* On hover shows a different image
  - the two images must be siblings in a container
  - this mixin is added to the container
*/
@mixin image-change-on-hover {
  img {
    &:last-of-type {
      display: none;
      position: relative;
      top: 0;
    }
  }
  
  &:hover {
    img {
      &:first-of-type {
        display: none;
      }
      
      &:last-of-type {
        display: block;
      }
    }
  }
}



/* Icon with text
  - the image size (height) must be fixed otherwise it will be taller than other elements
  - first used with the language selector in a menu
  - if the height was not set this menu item was taller than all others
*/
@mixin text-with-icon {
  img {
    height: 12px;
    position: relative;
    top: 1px;
  }
  
}




/* A close icon
*/
@mixin close-icon {
  &:after {
    content: $close;
    color: $background;
    background: $color;
    padding: $pad/4 $pad/2;
    
    position: relative;
    top: $pad + $pad/2;
    right: 0;
    float: right;
    
    cursor: pointer;
  }
}






/* Borders
*/

@mixin border-thin($c: $light-grey) {
  border-bottom: 1px solid $c;
}






/* Common
---------------------------------------------------------
*/

@mixin fluid-image {
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}


/* Remove the extra padding bottom for images inside a link
- http://stackoverflow.com/questions/3532870/extra-padding-on-linked-images-in-every-broswer
*/
figure {
  a {
    line-height: 0;
  }
}


