/* Displays an <ul> list inline
*/
@mixin list-inline($margin-right: $pad/2) {
  li {
    display: inline-block;
    float: left;
    margin-right: $margin-right;
    
    &:last-of-type {
      margin-right: 0;
    }  
  }
}

/* Transforms an inline list back to normal
*/
@mixin list-normal {
  li {
    display: block;
    margin-right: none;
    float: none;
    padding-left: 0;
    
    &:before {
      content: '';
    }
  }
}


/* Centers an inline list
*/
@mixin list-centered {
  text-align: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}



/* Highlights an active item in a list / menu
*/
@mixin list-menu($display: inline-block, $top : $pad/2, $left: $pad/4)  {
  li {
    a {
      padding: $top $left;
      display: $display;
    }
    
    &.active, &:hover {
      a {
        @include color(menu);
      }
    }
  }
}


@mixin list-download {
  li {
    margin-bottom: $pad/2;
    @include border-thin;
    
    &:before {
      content: url(http://metamn.github.io/occrp/assets/download.png) !important;
    }
    
    a {
      margin-left: $pad;
    }
  }
}


/* Navigation
*/
@mixin navigation($color-scheme : slider) {
  nav {
    @include hide-title;
    margin-top: $pad;
    
    ol {
      @include list-inline;
      @include list-menu(block, $pad/2, $pad/2 + $pad/4);
      
      li {
        @include color($color-scheme);
        @include border-radius($pad);
      }
      
      @include below-and-tablet {
        font-size: small;
      }
    }
  }
}

@mixin list-with-border {
  @include font(navigation);
  
  li {
    padding: $pad/2;
    border-bottom: 1px solid $background;
  }
}


@mixin mobile-menu {
  nav {
    &.main, &.secondary, &.tags {
      display: block;
      margin-top: $pad*2;
    }
    
    ul {
      @include block;
    }
    
    &.main, &.secondary {
      ul {
        @include list-normal;
        text-align: left;
      }
      
      @include tablet {
        @include grid(2, 2);
      }
    }
    
    &.tags {
      ul {
        &.search {
          li {
            &.text {
              display: none;
            }
            
            &.input {
              display: block;
              
              input {
                width: 95%;
              }
            }
          }
        }
        
        &.tag-list {
          margin: $pad 0;
        }
        
        &.social {
          li {
            margin-right: $pad;
          }
        }
      }
    }
  }  
  
  #close-menu {
    @include close-menu;
  }
}


@mixin mobile-navbar {
  @include block;
  @include color(invert);
  @include padding(100%, $pad/4);
  font-size: 70%;
  margin-top: $pad/2;
  
  cursor: pointer;
  
  ul.mobile-navbar-menu {
    @include list-inline;
    @include list-centered;
    
    li {
      &.hamburger {
        span {
          @include hamburger-menu($background);
          min-width: $pad;
          top: 1px;
        }
      }
    }
  }
}

@mixin hamburger-menu($c: $color) {
  position: relative;
  display: block;
  
  &:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double $c;
    border-bottom: 0.125em solid $c;
  }
}


@mixin close-menu($c: $background) {
  &:after {
    content: '\2715';
    color: $c;
    padding: 0 $pad/4;
    border: $border-thin;
    
    position: relative;
    top: -$pad - $pad/2;
    right: $pad;
    float: right;
    
    cursor: pointer;
  }
}



/* A menu
  - an inline list of items, with different hover and active states
  - it's parent is usually a <nav> element
*/
@mixin menu {
  @include font(navigation);
  
  ul {
    @include list-menu;
  }  
}


/* Floats the secondary menu right
*/
@mixin menu-float-right {
  ul {
    float: right;
    
    li {
      &.language {
        margin-right: 0;
      }
    }
  }
}