---
layout: default
title: Organized Crime and Corruption Reporting Project
class: frontpage
---

<section id="slider" class="section">
  <h3>Slideshow and News</h3>
  
  {% for post in site.categories.slider limit:1 offset:0 %}
    {% include article.html %}
  {% endfor %}
  
  <nav>
    <h3>Slider</h3>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </nav>
</section>

<section id="news" class="section">
  <h3>
    <a href="{{ site.categories.daily.url }}" title="Daily News">Daily News</a>
  </h3>
  
  {% for post in site.categories.daily %}
    {% include article.html %}
  {% endfor %}
</section>




{% assign klass='section investigations' %}

{% for post in site.categories.investigations %}
  {% include article.html %}
{% endfor %}

{% for post in site.categories.slider %}
  {% include article.html %}
{% endfor %}

{% for post in site.categories.daily %}
  {% include article.html %}
{% endfor %}


