---
layout: default
title: Organized Crime and Corruption Reporting Project
class: frontpage
---

<section id="intro">
  <h3>Slideshow and News</h3>
  
  <section id="slider">
    <h3>Slideshow</h3>
    
    {% for post in site.categories.slider limit:7 %}
      {% include article.html klass = 'thumb' %}
    {% endfor %}
    
    {% assign items = 7 %}
    {% include navigation.html %}
  </section>

  <section id="news">
    <h3>
      <a href="{{ site.url }}/daily" title="Daily News">Daily News</a>
    </h3>
    
    {% for post in site.categories.daily limit:3 %}
      {% include article.html klass = 'thumb' %}
    {% endfor %}
  </section>
  
  <section id="announcements">
    <h3>
      <a href="{{ site.url }}/announcements" title="Announcements">Announcements</a>
    </h3>

    {% for post in site.categories.daily limit:1 offset:0 %}
      {% include article.html klass = 'thumb' %}
    {% endfor %}
  </section>
</section>



<section id="investigations">
  <h3>
    <a href="{{ site.url }}/investigations" title="Investigations">Investigations</a>
  </h3>

  {% for post in site.categories.investigations limit:6 offset:0 %}
    {% include article.html klass = 'thumb' %}
  {% endfor %}
</section>


<section id="products">
  <h3>
    <a href="{{ site.url }}/products" title="Products">Products</a>
  </h3>
  
  {% for post in site.categories.projects limit:4 offset:0 %}
    {% include article.html klass = 'thumb' %}
  {% endfor %}
</section>


<section id="projects">
  <h3>
    <a href="{{ site.url }}/projects" title="Projects">Projects</a>
  </h3>
  
  {% for post in site.categories.projects limit:5 offset:5 %}
    {% include article.html %}
  {% endfor %}
</section>


<section id="blog">
  <h3>
    <a href="{{ site.url }}/blog" title="Blog">Blog</a>
  </h3>
  
  {% for post in site.categories.blog limit:3 offset:2 %}
    {% include article.html %}
  {% endfor %}
</section>


<aside id="most-read">
  <h3>Most Read</h3>
  
  <section>
    <h3>
      <a href="{{ site.url }}/products" title="Products">Most Read</a>
    </h3>
    
    {% for post in site.categories.daily limit:5 %}
      {% include article.html %}
    {% endfor %}
  </section>
  
  <section>
    <h3>
      <a href="{{ site.url }}/products" title="Products">Most Shared</a>
    </h3>
    
    {% for post in site.categories.daily limit:5 %}
      {% include article.html %}
    {% endfor %}
  </section>
  
  <section>
    <h3>
      <a href="{{ site.url }}/products" title="Products">From Our Members</a>
    </h3>
    
    {% for post in site.categories.daily limit:5 %}
      {% include article.html %}
    {% endfor %}
  </section>
</aside>



<section id="videos">
  <h3>
    <a href="{{ site.url }}/videos" title="Videos">Videos</a>
  </h3>
  
  {% for post in site.categories.projects limit:6 offset:5 %}
    {% include article.html %}
  {% endfor %}
</section>



