<nav class="meta">
  <h3>Article Meta Information</h3>
  <ul>
    <li class="print">
      <img src='{{ site.url }}/assets/images/print.png' alt='Print article'>
    </li>
    
    <li class="category">
      <a href="{{ site.url }}/{{ post.categories.first }}" title="{{ post.categories.first | capitalize }}">{{ post.categories.first | capitalize }}</a>
    </li>
    
    <li class="date">
      {{ post.date | date: "%-d %B %Y" }}
    </li>
    
    {% if post.authors.size > 0 %}
      <li class="authors">
        <ul>
          <li>by</li>
          {% for author in post.authors %}
            <li><a href="{{ site.url }}/author-homepage" title="{{ author.name }}" >{{ author.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
</nav>
