<article class="{{ include.klass }}">
  
  {% if include.klass == 'single' %}
    <h1>
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h1>
    
    {% include article-meta.html %}
    
    <div id="content">
      {{ content }}
    </div>
  {% endif %} 

  
  
  {% if include.klass != 'single' %}
    {% if post.images.size > 0 %}
      {% assign image_index = 0 %}
      {% include responsive-images.html type='from post'  %}
    {% endif %}
  
    <h1>
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h1>
    
    <div id="excerpt">
      {{ post.excerpt }}
    </div>
    
    {% include article-meta.html %}
  {% endif %} 
 
  
</article>
