<nav class="share">
  <h3>Article Share Buttons</h3>
  <ul>
    <li class="facebook" data-url="http://sharrre.com/" data-text="Article Title" data-title="<img src='{{ site.url }}/assets/facebook.png' alt='Share on Facebook'>">
    </li>
    
    <li class="twitter" data-url="http://sharrre.com/" data-text="Article Title" data-title="<img src='{{ site.url }}/assets/twitter.png' alt='Share on Twitter'>">
    </li>
    
    <li class="google-plus" data-url="http://sharrre.com/" data-text="Article Title" data-title="<img src='{{ site.url }}/assets/google_plus.png' alt='Share on Google+'>">
    </li>
    
    <li class="linkedin" data-url="http://sharrre.com/" data-text="Article Title" data-title="<img src='{{ site.url }}/assets/linkedin.png' alt='Share on LinkedIn'>">
    </li>
  </ul>
</nav>

