<footer id="footer">
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li>
        <a href="{{ site.url }}/" title="{{ site.title }}">
          Copyright &copy 2013 OCCRP
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/contact" title="Contact">
          Contact
        </a>
      </li>
      
      <li>
        <ul>
          <li>OCCRP is made possible by: </li>
          <li><img src="{{ site.url }}/assets/abc.gif"></li>
          <li><img src="{{ site.url }}/assets/bcd.jpg"></li>
        </ul>
      </li>
      
      <li id="social">
        <ul>
          <li><img src="{{ site.url }}/assets/facebook.png"></li>
          <li><img src="{{ site.url }}/assets/twitter.png"></li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>


