<footer id="footer">
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li>
        <a href="{{ site.url }}/" title="{{ site.title }}">
          &copy 2014 OCCRP
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/contact" title="Contact">
          Contact
        </a>
      </li>
      
       <li>
        <ul>
          <li>OCCRP is made possible by:</li>
          <li><img src="{{ site.url }}/assets/abc.gif"></li>
          <li id="usaid"><img src="{{ site.url }}/assets/bcd.jpg"></li>
        </ul>
      </li>
      
      <li id="social-icons">
        <p>Follow us</p>
        <ul>
          {% include social.html color='' highlight='-red' %}
        </ul>
      </li>
      
      
    </ul>
  </nav>
</footer>

</div> <!-- container -->


<!-- jQuery from CDN and local fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('/assets/jquery-1.10.2.min.js">\x3C/script>')</script>

<!-- Share button script -->
<script type="text/javascript" src="{{ site.url }}/assets/jquery.sharrre.min.js"></script>


<!-- Site specific scripts built on jQuery -->
<script src="{{ site.url }}/assets/jquery.occrp.js?20140113a"></script>


