<footer id="footer">
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li>
        <a href="{{ site.url }}/" title="{{ site.title }}">
          &copy 2014 OCCRP
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/contact" title="Contact">
          Contact
        </a>
      </li>
      
       <li>
        <ul>
          <li>OCCRP is made possible by:</li>
          <li><img src="{{ site.url }}/assets/abc.gif"></li>
          <li id="usaid"><img src="{{ site.url }}/assets/bcd.jpg"></li>
        </ul>
      </li>
      
      
      <li id="social">
        <p>Follow us</p>
        <ul>
          <li>
            <a href="http://www.facebook.com/OCCRP.org" title="Facebook">
              <img src="{{ site.url }}/assets/facebook.png" alt="Facebook"/>
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/OCCRP" title="Twitter">
              <img src="{{ site.url }}/assets/twitter.png" alt="Twitter" />
            </a>
          </li>
          <li>
            <a href="http://www.youtube.com/channel/UCAdFen-6WQOxmDHK3saMD8A?feature=watch" title="Youtube">
              <img src="{{ site.url }}/assets/youtube.png" alt="Youtube" />
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/b/106731751199751777418/106731751199751777418/about" title="Google Plus">
              <img src="{{ site.url }}/assets/google_plus.png" alt="Google Plus" />
            </a>
          </li>
        </ul>
      </li>
      
    </ul>
  </nav>
</footer>

</div> <!-- container -->


<!-- jQuery from CDN and local fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('/assets/jquery-1.10.2.min.js">\x3C/script>')</script>

<!-- jQuery Isotope plugin -->
<script src="{{ site.url }}/assets/jquery.isotope.min.js"></script>

<!-- Site specific scripts built on jQuery -->
<script src="{{ site.url }}/assets/jquery.occrp.js?20140113"></script>


