<header id="header">
  <h3>Header</h3>

  {% include nav-main.html %}

  <section id="logo">
    <h3>Logo and mobile menu</h3>
    <h1>
      <a href="{{ site.url }}/" title="{{ site.title }}">
        {{ site.title }}
      </a>
    </h1>
    
    <figure>
      <a href="{{ site.url }}/" title="{{ site.title }}">
        <img src="{{ site.url }}/assets/logo.png">
      </a>
      <figcaption>
        {{ site.title }}
      </figcaption>
    </figure>
    
    <nav id="mobile">
      <h3>Mobile and Tablet Navigation</h3>
      <ul id="mobile-menu">
        <li>Navigation</li>
        <li>Tags</li>
        <li>Search</li>
        <li>Share</li>
      </ul>
    </nav>
    
    <aside>
      <h3>The navigation items for Mobile and Tablets</h3>
      {% include nav-main.html %}
      {% include nav-secondary.html %}
      {% include nav-tags.html %}
      <span id="close-menu"></span>
    </aside>
  </section>
  
  {% include nav-secondary.html %}
  {% include nav-tags.html %}
</header>


