<header id="header">

  <nav id="main">
    <h3>Main Navigation, Left Side</h3>
    <ul>
      <li id="frontpage">
        <a href="{{ site.url }}/" title="Home">
          Home
        </a>
      </li>
      
      <li id="daily">
        <a href="{{ site.url }}/daily" title="Daily">
          Daily
        </a>
      </li>
      
      <li id="investigations">
        <a href="{{ site.url }}/investigations" title="Investigations">
          Investigations
        </a>
      </li>
      
      <li id="resource-center">
        <a href="{{ site.url }}/resource-center" title="Resources">
          Resources
        </a>
      </li>
    </ul>
  </nav>

  <hgroup id="logo">
    <h1>
      <a href="{{ site.url }}/" title="{{ site.title }}">
        {{ site.title }}
      </a>
    </h1>
    <!--
    {% include responsive-images.html  link=site.url title=site.title normal="/assets/logo.png" mobile="/assets/logo.png" %}
    -->
    <figure>
      <a href="{{ site.url }}/" title="{{ site.title }}">
        <img src="{{ site.url }}/assets/logo.png">
      </a>
      <figcaption>
        {{ site.title }}
      </figcaption>
    </figure>
    
  </hgroup>
  
  
  <nav id="secondary">
    <h3>Main navigation, Right Side</h3>
    <ul>
      <li id="about-us">
        <a href="{{ site.url }}/about-us" title="About Us">
          About Us
        </a>
      </li>
      
      <li id="get-involved">
        <a href="{{ site.url }}/donated" title="Donated">
          Donated
        </a>
      </li>
      
      <li id="contact-us">
        <a href="{{ site.url }}/contact-us" title="Contact">
          Contact
        </a>
      </li>
      
      <li id="russian" class="language">
        <a href="{{ site.url }}/ru" title="Russian">
          <img src="{{ site.url }}/assets/ru.gif" title="Russian" />
          <span>Russian</span>
        </a>
      </li>
      
      <li id="english" class="language">
        <a href="{{ site.url }}/en" title="English">
          <img src="{{ site.url }}/assets/en.gif" title="English" />
          <span>English</span>
        </a>
      </li>
      
    </ul>
  </nav>

  <nav id="tags">
    <h3>Search, Tags, Social Media icons</h3>
    
    <ul id="search">
      <li id="icon">
        <img src="{{ site.url }}/assets/magnifying_glass.png" alt="Search"/>
        <img src="{{ site.url }}/assets/magnifying_glass-red.png" alt="Search"/>
      </li>
      <li id="input">
        <input type="text" id="search" placeholder="Search">
      </li>
      <li id="text">
        <a href="" title="Search">Search</a>
      </li>
    </ul>
    
    <ul id="tag-list">
      <li id="russia">
        <a href="{{ site.url }}/russia" title="About Us">
          #Russia
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/russia" title="Get involved">
          #Drugs & Weapons
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/russia" title="Contact">
          #Nelson Mandela
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/russia" title="Contact">
          #Soci 2014
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/russia" title="Contact">
          #Putin & Khodorkovskiy
        </a>
      </li>
    </ul>
    
    <ul id="social">
      {% include social.html color='-white' highlight='-white' %}
    </ul>
  </nav>
  
  
</header>


