<header id="header">
  <hgroup>
    <h1>
      <a href="{{ site.url }}/" title="{{ site.title }}">
        {{ site.title }}
      </a>
    </h1>
    <h2>
      {{ site.excerpt }}
    </h2>
  </hgroup>
  
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li>
        <a href="{{ site.url }}/skills" title="Skills">
          Skills
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/values" title="Values">
          Values
        </a>
      </li>
      
      <li class="desktop">
        <a href="{{ site.url }}/manifesto" title="Manifesto">
          Manifesto
        </a>
      </li>
      
      <li>
        <a href="{{ site.url }}/contact" title="Contact">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
