<nav class="main" role="navigation">
  <h3>Main Navigation, Left Side</h3>
  <ul>
    <li class="frontpage">
      <a href="{{ site.url }}/" title="Home">
        Home
      </a>
    </li>
    
    <li class="daily">
      <a href="{{ site.url }}/daily" title="Daily">
        Daily
      </a>
    </li>
    
    <li class="investigations">
      <a href="{{ site.url }}/investigations" title="Investigations">
        Investigations
      </a>
    </li>
    
    <li class="projects">
      <a href="{{ site.url }}/projects" title="Projects">
        Projects
      </a>
    </li>
    
    <li class="resources">
      <a href="{{ site.url }}/resources" title="Resources">
        Resources
      </a>
    </li>
    
    <li class="blog mobile">
      <a href="{{ site.url }}/blog" title="Blog">
        Blog
      </a>
    </li>
  </ul>
</nav>