<nav class="tags">
  <h3>Search, Tags, Social Media icons</h3>
  
  <ul class="search">
    <li class="text">
      <a href="#" title="Search">
        <img src="{{ site.url }}/assets/images/magnifying_glass.png" alt="Search"/>
        <span>Search</span>
      </a>
    </li>
    <li class="input">
      <form>
        <input type="text" class="search" placeholder="Search">
      </form>
    </li>
  </ul>
  
  <ul class="tag-list">
    <li class="russia">
      <a href="{{ site.url }}/russia" title="About Us">
        #Russia
      </a>
    </li>
    
    <li>
      <a href="{{ site.url }}/russia" title="Get involved">
        #Drugs & Weapons
      </a>
    </li>
    
    <li>
      <a href="{{ site.url }}/russia" title="Contact">
        #Nelson Mandela
      </a>
    </li>
    
    <li>
      <a href="{{ site.url }}/russia" title="Contact">
        #Soci 2014
      </a>
    </li>
    
    <li>
      <a href="{{ site.url }}/russia" title="Contact">
        #Putin & Khodorkovskiy
      </a>
    </li>
  </ul>
  
  <ul class="social">
    {% include social.html color='-white' highlight='-white' %}
  </ul>
</nav>