<nav id="secondary">
  <h3>Main navigation, Right Side</h3>
  <ul>
    <li id="about-us">
      <a href="{{ site.url }}/about-us" title="About Us">
        About Us
      </a>
    </li>
    
    <li id="get-involved">
      <a href="{{ site.url }}/donate" title="Donate">
        Donate
      </a>
    </li>
    
    <li id="contact-us">
      <a href="{{ site.url }}/contact-us" title="Contact">
        Contact
      </a>
    </li>
    
    <li id="russian" class="language">
      <a href="{{ site.url }}/ru" title="Russian">
        <img src="{{ site.url }}/assets/ru.gif" title="Russian" />
        <span>Russian</span>
      </a>
    </li>
    
    <li id="english" class="language">
      <a href="{{ site.url }}/en" title="English">
        <img src="{{ site.url }}/assets/en.gif" title="English" />
        <span>English</span>
      </a>
    </li>
    
  </ul>
</nav>