<nav class="secondary" role="navigation">
  <h3>Main navigation, Right Side</h3>
  <ul>
    <li class="about-us">
      <a href="{{ site.url }}/about-us" title="About Us">
        About Us
      </a>
    </li>
    
    <li class="Members">
      <a href="{{ site.url }}/about-us/members" title="Members">
        Members
      </a>
    </li>
    
    <li class="get-involved">
      <a href="{{ site.url }}/donate" title="Donate">
        Donate
      </a>
    </li>
    
    <li class="contact-us">
      <a href="{{ site.url }}/contact-us" title="Contact">
        Contact
      </a>
    </li>
    
    <li class="russian language">
      <a href="{{ site.url }}/ru" title="Russian">
        <img src="{{ site.url }}/assets/images/ru.gif" alt="Russian" />
        <span>RU</span>
      </a>
    </li>
    
    <li class="english language">
      <a href="{{ site.url }}/en" title="English">
        <img src="{{ site.url }}/assets/images/en.gif" alt="English" />
        <span>EN</span>
      </a>
    </li>
    
  </ul>
</nav>