{% if include.type %}
  {% assign title = post.images[image_index].title %}
  {% assign link = post.url %}
  {% capture normal %}
    {{ post.images[image_index].url }}
  {% endcapture %}
  {% capture mobile %}
    {{ post.images[image_index].url }}
  {% endcapture %}

{% else %}
  {% assign title = include.title %}
  {% assign link = include.link %}
  {% capture normal %}
    {{ site.url }}{{ include.normal }}
  {% endcapture %}
  {% capture mobile %}
    {{ site.url }}{{ include.mobile }}
  {% endcapture %}
{% endif %}


{% if include.holder != "false" %}
  {% assign normal = 'http://lorempixel.com/700/500/people' %}
  {% assign mobile = 'http://lorempixel.com/700/500/people' %}
{% endif %}


<figure class="{{ include.klass }}">
  {% if link != "" %}
    <a href="{{ site.url }}{{ link }}" title="{{ title }}">
  {% endif %}

  <div data-picture data-alt="{{ title }}">
    <div data-src="{{ normal }}"></div>
    <div data-src="{{ mobile }}" data-media="(max-width: 768px)"></div>
    <noscript>
      <img src="{{ normal }}" alt="{{ title }}">
    </noscript>
  </div>
    
  {% if link != '' %}
    </a>
  {% endif %}
  
  <figcaption>
    {% if link != "" %}
      <a href="{{ site.url }}{{ link }}" title="{{ title }}">
    {% endif %}
    {{ title }}
    {% if link != '' %}
      </a>
    {% endif %}
  </figcaption>
</figure>
