{% if include.type %}
  {% assign title = post.images[image_index].title %}
  {% assign link = post.url %}

  {% capture normal1 %}
    {{ post.images[image_index].url }}
  {% endcapture %}
  {% capture mobile1 %}
    {{ post.images[image_index].url }}
  {% endcapture %}

{% else %}
  {% assign title = include.title %}
  {% assign link = include.link %}
  {% capture normal1 %}
    {{ include.normal }}
  {% endcapture %}
  {% capture mobile1 %}
    {{ include.mobile }}
  {% endcapture %}
  
{% endif %}


{% if include.absolute %}
  {% capture normal %}
    {{ normal1 }}
  {% endcapture %}
  {% capture mobile %}
    {{ mobile1 }}
  {% endcapture %}
{% else %}
  {% capture normal %}
    {{ site.url }}{{ normal1 }}
  {% endcapture %}
  {% capture mobile %}
    {{ site.url }}{{ mobile1 }}
  {% endcapture %}
{% endif %}


{% if include.holder != "false" %}
  {% assign normal = 'http://lorempixel.com/700/500/people' %}
  {% assign mobile = 'http://lorempixel.com/700/500/people' %}
{% endif %}


{% if include.link == 'false' %}
  {% assign link = '' %}
{% endif %}


<figure class="{{ include.klass }}">
  {% if link != "" %}
    <a href="{{ site.url }}{{ link }}" title="{{ title }}">
  {% endif %}

  <div class="image-holder" data-picture data-alt="{{ title }}">
    <div data-src="{{ normal | remove: ' '}}"></div>
    <div data-src="{{ mobile | remove: ' ' }}" data-media="(max-width: 768px)"></div>
    <noscript>
      <img src="{{ normal | remove: ' ' }}" alt="{{ title }}">
    </noscript>
  </div>
    
  {% if link != '' %}
    </a>
  {% endif %}
  
  {% if include.label  %}
    <div class="label">
      {{ include.label }}
    </div>
  {% endif %}
  
  {% if include.icon %}
    <span class="icon">
      <a href="{{ site.url }}{{ link }}" title="{{ title }}">
        <img src="{{ site.url }}/assets/images/{{ include.icon }}.png" alt="icon {{ include.icon }}">
      </a>
    </span>
  {% endif %} 
  
  <figcaption>
    {% if link != "" %}
      <a href="{{ site.url }}{{ link }}" title="{{ title }}">
    {% endif %}
    {{ title }}
    {% if link != '' %}
      </a>
    {% endif %}
  </figcaption>
</figure>
