---
layout: projects
title: Resources
category: page
---


<section id="tools">
  <h3>Tools</h3>
  {% for post in site.categories.projects limit:5 offset:5 %}
    {% include article.html %}
  {% endfor %}
</section>


<section id="documents">
  <h3>Documents</h3>
  {% for post in site.posts %}
    {% if post.documents.size > 0 %}
      {% for document in post.documents %}
        <article>
          <h1>
            <a href="{{ site.url }}/{{ post.url }}" title="{{ document.name }}">{{ document.name }}</a>
          </h1>
          <div id="meta">
            <date>{{ post.date | date: "%-d %B %Y" }}</date> in 
            <span>{{ post.title }}</span>
          </div>
        </article>
      {% endfor %}
    {% endif %}
  {% endfor %}
</section>

