
/* Single article
*/
@mixin single-article {
  @include block;
  @include col-nm(2, 3);
  
  @include small-screen {
    @include block;
  }
  
  article.single {
    @include article-parts(category, date, title, figure, figcaption, null, body);
    @include body-text;
    
    h1 {
      &:first-of-type {
        @include font(single-article-title);
      }
    }
    
    .meta, .share-buttons, .content {
      @include block;
    }
      
    .meta {
      @include border-thin;
      margin-bottom: $pad;
      
      .print {
        display: inline-block;
      }
    }
    
    .content {
      figure {
        figcaption {
          @include link($color, $highlight);
        }
      }
    }
  }
  
  /*
  #most-read, #most-recent {
    h3 {
      @include font(section-title);
      color: $color;
      padding-top: $pad;
      margin-top: $pad;
      border-top: $border;
    }
    
    @include responsive-grid(2);
    @include article-style(title-right);
    
    article {
      .excerpt {
        display: none;
      }
    }
  }
  */
}













