


/* The Archives 
*/
@mixin archive($type: default) {
  .title {
    @include font(section-title);
    @include font(category-title);
  }
  
  @include pagination(navigation);
  
  
  @if ($type == default) {
    article.thumb {
      @include responsive-grid(5, 20);
      @include article-style(projects);
      @include responsive-height(17em, 17em);
      @include article-style(archive);
      
      @include mobile {
        @include block;
        @include article-style(thumb-left);
      }
      
      @include tablet-landscape {
        @include grid(3, 20);
      }
    }
  
  } @elseif ($type == category) {
    /* The first article
    */
    aside {
      @include article-style(first-article-in-archive);
      margin-bottom: $margin;
    }
    
    /* The rest of the articles
    */
    article {
      &.thumb {
        @include below-small-screen {
          @include article-style(thumb-left);
          @include responsive-grid(2, 20);
        }
        
        @include small-screen-and-up {
          @include article-style(projects);
          @include responsive-grid(3, 20);
        }
        
        @include mobile {
          @include block;
        }
        
        margin-bottom: $margin;
      }
    }
  
  } @elseif ($type == blog) {
    article.thumb {
      @include article-style(blog-archive);
      
      @include mobile {
        @include block;
        @include article-style(thumb-left);
      }
      
    }
  
  } @elseif ($type == gallery) {
    article.thumb {
      @include responsive-grid(3, 20);
      height: auto;
      border-top: 0;
      padding-top: 0;
      
      figure {
        @include block;
      }
    }
  
  } @elseif ($type == daily) {
    article.thumb {
      @include block;
      @include article-style(news);
      @include article-style(daily);
      height: auto;
      
      @include below-small-screen {
        background: none;
        
        h1, .excerpt {
          @include block;
        }
        
        h1 {
          padding-top: 0;
        }
      }
    }
  }
}





/* The sidebar
*/
@mixin with-sidebar {
  main {
    @include fixed-sidebar;
    
    #articles, #article {
      @include block;
      
      @include small-screen-and-up {
        @include col-nm(2, 3);
      }
      
      @include tablet-landscape {
        @include col-nm(2, 3);
      }
    }
    
    #sidebar { 
      @include block;
      margin-top: $margin*2;
      
      @include small-screen-and-up {
        @include col-nm(1, 3);
        margin-right: 0;
        margin-top: 0
      }
      
      @include tablet-landscape {
        @include col-nm(1, 3);
        margin-right: 0;
        margin-top: 0
      }
      
      @include sidebar;
    }
  }
}


/* The sidebar
*/
@mixin sidebar {
  section {
    margin-bottom: $margin;
    
    h3 {
      display: block;
      @include font(section-title);
    }
    
    article {
      @include article-style(thumb-left);
      @include article-style(thumb-left-smaller);
      
      @include below-small-screen {
        @include responsive-grid(2, 20);
      }
      
      @include mobile {
        @include block;
      }
      
      @include small-screen-and-up {
        @include block;
      }
      
      @include tablet-landscape {
        @include block;
      }
    }
    
  }
  
  #spacer {
    @include hide-title;
  }
}



/* Fixed sidebar
*/
@mixin fixed-sidebar {
  @include small-screen-and-up {
    overflow: hidden;
    
    aside {
      #spacer {
        margin-bottom: -$pad*2000 !important;
        padding-bottom: $pad*2000;
        @include color(slider);
      }
    }
  }
  
  @include tablet-landscape {
    overflow: hidden;
    
    aside {
      #spacer {
        margin-bottom: -$pad*2000 !important;
        padding-bottom: $pad*2000;
        @include color(slider);
      }
    }
  }
}





/* An article with thumb left, the rest right
*/
@mixin article-thumb-left($gutter, $padding: 0) {
  figure, h1, .excerpt {
    @include col-by-gutter(2, $gutter);
  }
  
  h1, .excerpt {
    margin-right: 0;
    @include padding(col-by-gutter-width(2, $gutter), $padding);
  }
}



/* Image left
*/
@mixin image-thumb-left($image-width: $pad*6) {
  img {
    width: $image-width;
    float: left;
    margin: 0 $pad $pad 0;
  }
  
  div {
    padding: 0 $pad/2;
    line-height: $line-height-body-text;
    margin-left: calc(#{$image-width} + #{$pad} + #{$pad});
    
    p + p {
      margin-top: $pad;
    }
  }
}



