/* An article with thumb left, the rest right
*/
@mixin article-thumb-left {
  $col-gutter: col-gutter(3);
  $col-width: col-by-gutter-width(2, $col-gutter);
  
  article figure, article h1, article .excerpt, nav {
    @include col-by-gutter(2, $col-gutter);
  }
  
  article h1, article .excerpt, nav {
    margin-right: 0;
  }
  
  nav {
    left: $col-width + $col-gutter;
  }

  @include mobile {
    article figure, article h1, article .excerpt, nav {
      @include block;
    }
  }
}


/* Responsive slider positioning of elements
*/
@mixin responsive-slider-grid {
  position: relative;
  overflow: hidden;
  
  article {
    position: absolute;
  }
  
  nav {
    position: absolute;
    bottom: $pad/2;
  }
}