/* The header on desktop
*/
@mixin header-desktop {
  .main, .logo, .secondary {
    @include grid(3, 3);
  }
  
  .secondary {
    margin-right: 0 !important;
    
    ul {
      @include list-floated-right;
    }
  }
  
  .main, .secondary {
    margin-top: $pad*2;
    @include border-thin;
  }
}



/* The header on mobiles
*/
@mixin header-mobile($type: normal) {
  nav {
    &.main, &.secondary {
      @include border-thin($color);
      margin-bottom: $pad;
    }
    
    &.main {
      margin-top: $pad*5;
    }
    
    &.tags {
      @include block;
      margin-right: 0;
      @include enlarge-social-icons;
      
      ul {
        @include block;
        
        &.search {
          @include search(active);
        }
      }
    }
  }
    
  .close-icon {
    @include close-icon;
  }
  
  
  @if ($type == normal) {
    nav, .close-icon {
      display: none;
    }
  } @elseif ($type == active) {
    nav, .close-icon {
      display: block;
    }
  }
}



/* The logo
*/
@mixin logo($type: normal) {
  h1 {
    display: none;
  }
  
  text-align: center;
  
  figure {
    figcaption {
      @include menubar-mobile;
    }
  }
   
  @include small-screen-and-up {
    figure {
      figcaption {
        display: none;
      }
    }
  }
  
  @if ($type == active) {
    position: absolute;
    @include container;
  }
}






























@mixin navigation($color-scheme : slider) {
  nav {
    @include hide-title;
    margin-top: $pad;
    
    ol {
      @include list-inline;
      @include menu-item(block, $pad/2, $pad/2 + $pad/4);
      
      li {
        @include color($color-scheme);
        @include border-radius($pad);
      }
      
      @include below-and-tablet {
        font-size: small;
      }
    }
  }
}



@mixin mobile-menu {
  nav {
    &.main, &.secondary, &.tags {
      display: block;
      margin-top: $pad*2;
    }
    
    ul {
      @include block;
    }
    
    &.main, &.secondary {
      ul {
        @include list-normal;
        text-align: left;
      }
      
      @include tablet {
        @include grid(2, 2);
      }
    }
    
    &.tags {
      ul {
        &.search {
          li {
            &.text {
              display: none;
            }
            
            &.input {
              display: block;
              
              input {
                width: 95%;
              }
            }
          }
        }
        
        &.tag-list {
          margin: $pad 0;
        }
        
        &.social {
          li {
            margin-right: $pad;
          }
        }
      }
    }
  }  
  
  #close-menu {
    @include close-menu;
  }
}


@mixin mobile-navbar {
  @include block;
  @include color(invert);
  @include padding(100%, $pad/4);
  font-size: 70%;
  margin-top: $pad/2;
  
  cursor: pointer;
  
  ul.mobile-navbar-menu {
    @include list-inline;
    @include list-centered;
    
    li {
      &.hamburger {
        span {
          min-width: $pad;
          top: 1px;
        }
      }
    }
  }
}







/* Floats the secondary menu right
*/
@mixin menu-float-right {
  ul {
    float: right;
    
    li {
      &.language {
        margin-right: 0;
      }
    }
  }
}












/* The navigation bar in the header
*/
@mixin navbar($type: desktop) {
  @include border-thin($color);
    
  &.secondary {
    @include language-selector;
  }
  
  &.tags {
    @include tags;
    @include enlarge-social-icons;
  }
  
  
  @include below-and-tablet {
    &.main, &.secondary, &.tags {
      display: none;
    }
    
    &.mobile-navbar {
      @include mobile-navbar;
    }
    
    @if ($type == mobile-fixed) {
      &.mobile-navbar {
        display: none !important;
      }
    }
  }
  
  
  @include tablet-and-up {
    @include responsive-grid(3);
    @include menu;
    
    &.secondary {
      margin-right: 0;
      @include menu-float-right;
    }
    
    &.main, &.secondary {
      @include list-inline($pad/4);
      margin-top: $pad*2;
    }
    
    &.tags {
      @include block;
      margin-top: $pad/2;
    }
    
    @if ($type == desktop-fixed) {
      &.main, &.secondary {
        margin-top: 0;
        border: none;
      }
      
      &.tags {
        display: none;
      }
    }  
  }

}

