---
layout: article
title: Selling My Kidney on Facebook
category: slider
excerpt: Organ broker Jeremih Burton runs his operation from a Yahoo account, trough Facebook
images:
  - title:
    url: /assets/Jeremih_Burton.png
authors:
  - name: OCCRP Fellow Anna Callaghan
    url:
    email:
related-documents:
  - name: Wilcos Letter
    url: /assets/Wilcox-letter.pdf
  - name: Valarta Consulting Corp
    url: /assets/Valarta_Consulting_Corp.pdf
  - name: TVis License
    url: /assets/TVis_license.pdf
related-graphics:
  - title: Jeremih Burton
    url: /assets/Jeremih_Burton.png 
  - title: Branislav Saranovic
    url: /assets/Branislav_Saranovic.jpg
  - title: Branislav Saranovic
    url: /assets/Branislav_Saranovic.jpg
  - title: Branislav Saranovic
    url: /assets/Branislav_Saranovic.jpg
  - title: Branislav Saranovic
    url: /assets/Branislav_Saranovic.jpg  
related-persons:
  - title: Jeremih Burton
    url: /assets/Jeremih_Burton.png 
  - title: Branislav Saranovic
    url: /assets/Branislav_Saranovic.jpg
related-articles: aaa
---


<p>In between wishing a friend happy birthday and scrolling absently through my news feed I navigated to a Facebook page called “Buy Kidney.”</p>
<p>A broker based in the UK using the name Jeremih Burton, who runs his operation from a Yahoo account, manages the page. &nbsp;His email (<a href="mailto:asiamedicaltourism@yahoo.com">asiamedicaltourism@yahoo.com</a>) was public so I asked him for more information.</p>
<p>I have thousands of dollars in student loans and I also have a kidney, both of which I can do without. My alter ego, Ann, enjoys daydreaming about her loans disappearing.</p>
<p>Jorge Vega has hopes of getting out of debt too. Posting online as Luis Fuentes, Jorge is a 27-year-old male Venezuelan with O+ blood, he is trying to sell his kidney. I sent him an email asking why.</p>
<p><em>I just want to find a buyer. I’m in a difficult economic situation.</em></p>
<p>I asked if he was scared.</p>
<p><em>I have no job. I have a family. The situation in my country is difficult.</em></p>
<p>Burton presented himself as someone who could make it happen. Whether he actually is what he purports to be or a scam artist, you can’t be sure -- but people like him serve as the middlemen in the illegal organ trade, connecting buyers with sellers.</p>
<p>The World Health Organization estimates that 10,000 black market transplantation operations are performed every year. Both Ann and Jorge wanted to be in that number.</p>

{% assign image_index = 2 %}
{% include responsive-images.html type='from post'  %}

<p>According to Burton this is how it works:</p>
<p><strong>1.</strong> Pay $500 upfront to cover testing and screening. The fee is to make sure you qualify medically to donate and is also to protect him, he claims. <em>We charge that so if at the end you get scared we do not lose our own money, this part is non-negotiable.</em></p>
<p><strong>2.</strong> Send a blood sample to a nearby country for testing.</p>
<p><strong>3.</strong> Attend pre-transplant therapy, where his doctors provide counsel.</p>
<p><strong>4.</strong> If the blood sample is approved, a buyer is located, and the donor is sent (at no personal cost) to the buyer’s country for harvesting.</p>
<p><strong>5.</strong> Once you’re there, $30,000 is transferred into your bank account in your presence. After the transplant, another $30,000 is transferred. <em>We usually send the full amount, but some people try being smart and we then have to resort to violence to make them give us back our money. So we rather pay half before transplant and pay the remaining half later.</em></p>
<p>How could I be sure that I wasn’t being scammed? I wanted to know. There’s no guarantee that I would get $60,000 after paying the fee. After all, if I had $500 to spare then I probably wouldn’t be trying to sell my kidney. For Jorge, the cost was prohibitively expensive.</p>
<p>Burton broke it down.</p>
<p>“I can understand that money is a problem for you, that is why you want to sell your kidney,” he said. “But $500 is not the same thing compared to $60,000.”</p>
<p>The $500 is for his agents who are located in various countries whose job it is to test and screen candidates. “Place yourself in a recipients (sic) position,” he said. “Would you accept the results of a complete stranger?” Plus, if I’m rejected then it’s at no cost to him. He gets a lot of people trying to sell their kidneys, especially from India, Pakistan and Southeast Asia and $500 adds up quickly when dealing with Internet scammers.</p>
<p>Also, Burton receives about 20-30 percent of the total selling price of the organ. I don’t know what the markup is for kidneys, but if the donor gets $60,000 then he makes more than $12,000-$18,000. (In a later email he told me his organization makes $10,000-$20,000 per transplant).</p>

{% assign image_index = 3 %}
{% include responsive-images.html type='from post'  %}

<p>Also, there’s the whole illegality thing. “There is the law enforcement angle to consider,” he said. “How are we sure that you are not a spy?”</p>
<p>Imagine if the drug or sex trade was dealt with so candidly, and using unencrypted email exchanges.</p>
<p>Burton wrote that he gets many people posting negative things on his Facebook page because of anger concerning the $500, which scares off potential buyers. He says that kind of behavior comes mainly from Americans who sell kidneys to “buy expensive cars and other such luxury” as opposed to Asians who do it “to put food on the table.” Burton wrote that he found this funny because Americans are his biggest and best-paying clients.</p>
<p>I asked Burton if he had an agent in Bosnia where I spent much of the summer.</p>
<p>The closest he has is in Russia, he told me. It would be easy for me to send a blood sample and then travel there for harvesting, which I would need to be ready to do as soon as possible. He gave me his payment details so I could wire money to his Western Union Account:</p>
<p>Name: Jeremih Burtony<br /> Question: Transplant<br /> Answer: Yes<br /> Country: England<br /> Amount: $500</p>
<p>Wire transfers to an unidentifiable bank account don’t inspire much confidence, but this operation is not about integrity, it’s about money. Burton, according to his personal Facebook page, sees two kinds of people in the world: those who do something and make a difference, and those who don’t.</p>
<p>After I provided proof of payment I would receive the address in Russia to send my blood sample, and then Burton would call me. Burton wrote, in poor English, that he hoped I spoke English well enough. Now would be a good time to cease all activities that might have adverse effects on my health, he added.&nbsp;</p>
<p>This was all happening fast. Is this safe, am I being ripped off, will I get in trouble?</p>

{% assign image_index = 4 %}
{% include responsive-images.html type='from post'  %}

<p>“I can understand how you must feel, I get such reactions like this all the time. All our procedures are safe, I assure you,” Burton said. “But please, time is of the essence.”</p>
<p>Burton was convinced that finding a buyer was no problem since I didn’t smoke, drink or engage in any vice dangerous to my health. All my travel costs to and from Russia would be covered and once my blood sample was matched, flights to the buyer’s location in the US or UK would also be taken care of.</p>
<p>I was starting to lose track of the different countries I would be going to. “My dear the organ trade is filled with speculation,” he said. “The possibility is endless.”</p>
<p>Burton could tell I was nervous.</p>
<p>“This is a black market operation, but rest assured you will be well cared for before and after the operation. This much I can guarantee,” he said.</p>
<p>A guarantee on the black market? I needed some time. A week later I had a new message in the email account I set up for Ann.</p>
<p>“Dear Ann, I have yet to hear from you.”&nbsp;</p>
<p>I came clean and told Burton I was a reporter writing about selling organs online and asked him a few more questions.&nbsp;</p>
<p>A few days later, he wrote back with a new proposal.&nbsp;</p>
<p>“Why didn’t you tell me?” he said. “That is why I take a lot of measure (sic) to protect myself.”</p>
<p>Burton told me why he is involved in the organ trade. “A lot of people see organ brokering as a bad thing, but it s not,” he wrote. “If not for people like me a lot of people who would have been dead…would be dead by now.”</p>

{% assign image_index = 5 %}
{% include responsive-images.html type='from post'  %}

<p>Burton offered to show me top facilities in Pakistan, Malaysia and the United Kingdom. His only conditions were that I had to make people understand why brokers do what they do – and pay him €1000, higher than the fee for selling my kidney.</p>
<p>“We are constantly on the run from a lot of government agencies,” Burton wrote. “If other members of my group find out that I am talking to a journalist I could be in serious trouble; the information that I give to you could be used against us. If I am putting myself at risk, I want to be duly compensated.”</p>
