---
layout: article
title: Workers Suffer as State Battles Darko Šarić
category: investigations
excerpt: Since Serbia took them over, the firms of fugitive narco boss are barely surviving.
images:
  - title:
    url: /assets/MITROS.jpg
  - title:
    url: /assets/oranice.jpg
  - title:
    url: /assets/jumbo.jpg
  - title:
    url: /assets/9958-hotel-patria.jpg
authors:
  - OCCRP
---

{% assign image_index = 0 %}
{% include responsive-images.html type='from post'  %}

<p>Since Serbia took them over, the firms of fugitive narco boss are barely surviving.</p>
<p>Workers say that when Darko Šarić owned their companies, they got their salaries, and profits were re-invested into the business. But since Šarić was indicted and his and his associates’ assets were confiscated, neither workers nor firms have fared as well.</p>
<p>Some 600 workers have lost their jobs and production has suffered at companies the drug lord picked up through privatization. After an international warrant was issued for him in January 2010, he fled Serbia and is being tried in absentia.</p>
<p>"In a period when the state authorities took over ownership of capital of Mitrosrem we only have collapse and nothing more," said Stevan Jovanović, leader of the Mitrosrem workers’ union. He said the government has no idea what to do with the company, which manufactures grains and cereals and raises animals for meat. Government officials say that their job is only to watch over the assets of suspected criminals before legal proceedings are finished -- not to get back into running state industries</p>
<p>Beside Mitrosrem in Sremska Mitrovica, between 2006 and 2010 Šarić and his associates bought another seven companies. The companies are into variety of businesses – from farming and processing agricultural products to retail trade, tourism and catering.</p>
<p>Suspecting criminal profits were used to buy the companies, the Directorate for the Administration of Seized Assets of the Ministry of Justice seized six companies.</p>
<p>Two later went bankrupt: Jedinstvo in Gajdobra and Palić in Subotica. The directorate manages Mitrosrem, Putnik and Vojvodina in Novi Sad and Bratstvo in Preševo.</p>
<p>In addition, The Privatization Agency of the Republic of Serbia took over Forum-plasman in Novi Sad in April 2010, and Mladi borac in Sonta in September 2010. Typically, the Privatization agency manages companies until their sale, while the Directorate seizes companies in which owners are in legal trouble and manages them until a verdict is reached.</p>
<p>Vladimir Ćeklić, head of the department of professional affairs within the directorate, says it is expected only to maintain the companies’ assets until Šarić’s trial is over. He says workers are mistaken to think that they are again working for a state-owned company, or that the government has control over them. The firms are, in fact, owned by people under indictment and, thus have no right to public funds.</p>
<p>Aleksandar Vujičić, director of the Administration for the Prevention of Money Laundering in the Ministry of Finance and Economy, said that criminal groups use privatization as a way to get high-quality companies.</p>
<p>“Basically the intention of those into money laundering should be investing in a firm. They have interest in keeping the firm active so they would be able to mix legal and illegal flows of money. For the very reason they could later try to show, if there is any proceeding, that money comes from legitimate business,” says Vujičić.</p>
<p>Branko Pavlović, a former director of the Privatization Agency, says Šarić invested in companies so he could sell them and show a legitimate origin for criminal profits.</p>
<p>The Public Prosecutor's Office for Organized Crime did not want to comment for this story.</p>
<p><strong>From a large manufacturer to bankruptcy</strong></p>

{% assign image_index = 1 %}
{% include responsive-images.html type='from post'  %}

<p>Jedinstvo used to be one of the largest food manufacturers in Vojvodina, growing wheat, legumes and oilseeds.</p>
<p>Situated in Gajdobra, about 20 kilometers from Novi Sad, the head office is now little more than a few scared workers in a ruin.</p>
<p>“You see, they’re afraid. No one here can say a thing,” says union leader Dusan Gušićunion. He said they hope that by avoiding complaints to journalists and behaving properly they’ll work again some day.</p>
<p>Financial and audit reports indicate that the company has operated at a loss since it was privatized. According to the Privatization Agency report, at the time of purchase in 2007 Jedinstvo had 128 employees. Financial reports for 2012 show 52 people still working – mostly as gatekeepers of empty buildings at different locations in Gajdobra.</p>
<p>A consortium of individuals including Milorad Savić, 20-year-old Višnja Jerković and her father Mile Jerković, signed a contract with the Agency to buy Jedinstvo. Mile Jerković, who privatized many companies in Serbia, today is a witness in one of the cases against Šarić. Višnja Jerković already owned five companies.</p>
<p>The Agency complained a year later in 2008 that the second payment installment was late, and that business continuity has been compromised by a decline in productivity.</p>
<p>According to Agency reports, the new owners took care of its investment requirements under the purchase contract by investing 23.5 million RSD in used machines from Marija Jerković - Mile Jerković’s other daughter. More equipment was purchased from Jerković’s firm Poljostroj.</p>
<p>Gušić said the machines were not needed, and at the same time, a large part of the existing property was being sold.</p>
<p>Jovo Janjić, once an electrician in the company who now guards empty silos, says: “First they sold scraps, used tractors... All they could sell out – they’ve sold.”</p>
<p>The Agency extended deadlines for the buyers to meet their obligations until May 2009, when a new owner was found -- Šarić's lawyer Radovan Štrbac. The company was by then already in serious financial trouble. The firm’s bank account has been blocked due to debts, and workers had gone more than a year without pay. Štrbac said that Jerković, who he also represented, was in debt and in a hurry to sell. “That 2009 we talked about me buying the company, not Darko Šarić, but me. I was then able to buy any of the 30 (Jerković’s) firms, because he didn’t have any money. He could not take loans anymore.”</p>
<p>Mile Jerković said that Štrbac did not buy the company: “He's not the one who gave the money. Mr. Šarić did, and he just handed it over.” Jerković also said that he doesn’t see anything wrong in investments he made in Jedinstvo from his other businesses.</p>
<p>Workers say that during this time they still hoped things would work out. Gušić explains that Štrbac started production, began to pay salaries, and accounts were unblocked: “We started to work, and some better days began.”</p>
<p>Hope ended with the arrest of Štrbac in February 2010 for money laundering for Šarić. A month later the Seized Assets directorate took over management of the company.</p>
<p>“When they came, we lost all of our rights. The directorate manages the company, but it has no obligations toward workers, because they don’t have funds for salary payment,” he said. Payment should come out of production – but that has stopped. Gušić said resolution of the case could take years, and workers have not received salaries since December 2011.</p>
<p>Ćeklić from the directorate believes it would be unjustified for the state to pay off Šarić’s debts, though the payroll backlog may be as little as €3,000. He said bankruptcy might be unavoidable.</p>
<p>In June 2012, the Commercial Court in Novi Sad did initiate bankruptcy proceedings and named Nebojša Bajić as bankruptcy trustee. Reorganization is in progress, says Bajić. And if it fails, the company goes into bankruptcy,” predicts Gušić.</p>
<p>Milan Beronja drove a tractor for the company for 34 years, but now he guards machines and the garage that once served as repair shop and a room for seasonal workers.</p>
<p>“All my life I lived here. My wife used to work here. But when the company bankrupted they said – one spouse goes, the other remains. And so she left,” said Beronja.</p>
<p>Dragan Pudar, a former directorate representative to Jedinstvo, declined to be interviewed for this story.</p>
<p><strong>The Collapse of a Champion</strong></p>

{% assign image_index = 2 %}
{% include responsive-images.html type='from post'  %}

<p>With 4,000 acres of arable land, Mitrosrem is one of the leading agricultural companies in Vojvodina. In addition to farming and processing corn, wheat and beetroot, Mitrosrem houses and slaughters animals.</p>
<p>In the company directorate, on the office walls, some of its popular specialties and snacks &nbsp;well-known products are displayed: “Corn Flakes”, green bags of “Palenta”, “flips Jumbo” flips and also cups and medals for award-winning product quality.</p>
<p>However, union members and longtime workers of Mitrosrem said that the company is working now at much-reduced capacity. The number of workers has dropped from 969 at the firm’s heyday to 520. &nbsp;Mitrosrem accounts have been mostly blocked since 2010, causing the entire business to run through the account of its veterinary service Radinci.</p>
<p>Union leader Stevan Jovanović says machinery has not been replaced since the directorate took over management.</p>
<p>Mitrosrem’s troubles date back to December 2006, when businessman Zoran Ćopić bought the company. Mitrosrem was sold for a little more than €15 million, paid in full, with an obligation to invest another 10 million over five years. The sale gave a consortium led by Ćopić 70 percent of Mitrosrem, with the rest in the hands of the state and small shareholders.</p>
<p>According to reports by the Privatization Agency, a large number of loans, assumption of debts and guarantees for other companies’ debts were made over the next two years.</p>
<p>In early July of 2009, Ćopić ceded his share in Mitrosrem to the company DTM Relations in Belgrade. Behind this business deal, as court and Privatization Agency records show, was Darko Šarić.</p>
<p>Stojan Jakovljević, a representative of Mitrosrem’s factory Corn Product, said that in this period the debts were reduced and salaries were paid regularly.</p>
<p>In mid-July 2010, The High Court in Belgrade issued a decision to seize Šarić's property because he’d been indicted and that included the share of DTM Relations . in Mitrosrem. A month later, the Agency terminated the sale contract of Mitrosrem with DTM Relations citing simply failure to fulfill contractual obligations.</p>
<p>Ćopić was arrested in late April 2011 on money laundering charges.</p>
<p>Mitrosrem employees said that their suffering began when the directorate took over Mitrosrem, DTM Relations went bankrupt with its owner fleeing the country and they were left with no formal owner.</p>
<p>Lack of ownership was not the company’s only problem, though.</p>
<p>In November 2010, Ministry of Agriculture veterinarians killed 8,715 pigs from Mitrosrem’s farm because of swine fever, and a month later blocked its account due to debts. Mitrosrem workers sent a demand to the Ministry for compensation, which they estimated at 98.4 million RSD, but, after almost three years, nothing has been paid.</p>
<p>Workers have suggested a debt settlement with the state authorities as a way to resolve the tangled situation.</p>
<p>Union leader Jovanović said the employees are stuck in a bad situation through no fault of their own. “We are not a state-owned enterprise, although the state owns 85 percent of the Mitrosrem share, and officially (in the Serbian Business Registers Agency) our owner is still DTM Relations, (which) no longer exists.” The blocked account, he said, could lead to bankruptcy.</p>
<p>After the decision on temporary seizure, the directorate appointed Budimir Mrdović as a state representative in Mitrosrem. He held the position until February 2013, when the directorate stepped in to act directly – it said more efficiently -- without a mediator. Mrdović, who remains chairman of the supervisory board of the company, said it will be hard to improve the company’s condition, and that while the blockade can be undone, it would take greater involvement by the Serbian government.</p>
<p>Meanwhile, in mid-July 2013 Ćopić was sentenced in Bosnia and Herzegovina to 4.5 years in prison for money laundering for Šarić.</p>
<p>Ćopić faces five more cases in Serbia – for cigarette smuggling, abuse of privatizations and money laundering.</p>
<p><strong>Companies without a future</strong></p>

{% assign image_index = 3 %}
{% include responsive-images.html type='from post'  %}

<p>Two months after the seizure of Šarić’s assets Palić went bankrupt. &nbsp;Since February 2012 Hotel Prezident, as well as Hotel Patria and Bečki, a Subotica restaurant, all once part of Palić have been up for sale.</p>
<p>In March 2008 Šarić’s company Municipium S bought the retail trade company Forum-plasman, but the Privatization Agency terminated that contract in April 2010. It has no employees now and is in the hole 1.65 million RSD.</p>
<p>Mladi borac from Sonta owns 1,600 acres of land in Vojvodina. According to the indictment, Štrbac leased Mladi borac from state authorities in 2009 in Šarić’s name, and today it is restructuring under management by the Privatization Agency.</p>
<p>Bratstvo from Preševo, another Šarić’s company, is also in a poor shape. State authorities seized it in May 2012, and Ćeklić from the Directorate said is in debt and surviving by renting its property.</p>
<p><em><strong><span style="font-size: 10pt;">Ivana Jeremić and Milica Šarić of the Center for Investigative Reporting in Serbia reported and wrote this report.</span></strong></em></p>
