/*
  Atoms of the Atomic web design
  - basic constants, definitions and declarations
  - they cannot be divided further
  - they are reused across molecules, organisms and up
*/



/* Responsiveness
--------------------------------------------------------------------------------
*/


$breakpoint-mobile: 24em !default; /* 384px, Android Nexus 4 */
$breakpoint-mobile-landscape: 40em !default; /* 640px, iPhone 5 */
$breakpoint-tablet: 48em !default; /* 768px */
$breakpoint-small-screen: 64em !default; /* 1024px */
$breakpoint-normal-screen: 80em !default; /* 1280px */
$breakpoint-large-screen: 90em !default; /* 1440px */

@mixin portrait {
	@media only screen and (orientation : portrait) {
		@content;
	}
}

@mixin landscape {
	@media only screen and (orientation : landscape) {
		@content;
	}
}

@mixin below-tablet {
	@media only screen and (max-width: $breakpoint-tablet - 0.001) {
		@content;
	}
}

@mixin small-screen {
	@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-normal-screen - 0.001) {
		@content;
	}
}

@mixin normal-screen {
	@media only screen and (min-width: $breakpoint-normal-screen) and (max-width: $breakpoint-large-screen - 0.001) {
		@content;
	}
}

@mixin normal-screen-and-above {
	@media only screen and (min-width: $breakpoint-normal-screen) {
		@content;
	}
}





/* Grid
--------------------------------------------------------------------------------
*/

/* Default unit for horizontal and vertical spacing
  - combined from $font-size and $line-height
  - used for margin and padding
*/
$pad: 1.25em;

/* Long texts cannot span the entire screen, they have to be organized into lines containing 50-80 characters only
  - See http://www.kaikkonendesign.fi/typography/#section/3
  - Depends on $font-size
*/
$body-text-width: 43.75em; /* 700px / 16px */


/* The width of the content
*/
$container-width: 90%;
$container-margin: 5%;


/* The golden ratio
*/
$major: 61.8%;
$minor: 38.2%;


/* Flexible grid
*/
$flexible-grid-width: 30%;
$flexible-grid-margin: 3%;


/* Slider image width
*/
$slider-image-width: 34.375em;



/* Strech content to fill parent width
*/
@mixin block {
  width: 100%;
  max-width: 100%;
  float: left;
}




/* Typography
--------------------------------------------------------------------------------
*/


/* The basic body font size
  - See http://lamb.cc/typograph/
*/
$font-size: 100%; /* 16px, 1em */
$line-height: 1.25; /* 20px, 1.25em */

/* This is to convert em to rem
  - it depends on font-size
  - font-size: 100% => this value is 1, font-size: 65% => this value is .65
*/
$base-font-multiplier: 1; 

/* Line heights for headers and body text
  - See http://www.kaikkonendesign.fi/typography/#section/4
*/
$line-height-body-text: 1.75;
$line-height-headings: 1.1;


/* Letter spacing for uppercase
*/
$letter-spacing-uppercase: 1.1px;


/* Font families
*/
@mixin font-body {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-family: 'Merriweather Sans', sans serif;
}

@mixin font-headings {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Merriweather', serif;
}






/* Colors
--------------------------------------------------------------------------------
*/

$background: #FFFFFF; /* Background */
$light-grey: #f1f1f1; /* From Kuler, based on $background */

$color: #231F20; /* Font, black */

$highlight: #982022; /* Link, OCCRP red */
$red: #E43033; /* From Kuler, based on $highlight */
$blue: #259CE4; /* From Kuler, based on $highlight */
$yellow: #A5A333; /* From Kuler, based on $highlight */




/* Decorations
--------------------------------------------------------------------------------
*/

$border: $pad/4 solid;
$border-thin: 1px solid $light-grey;

