/*
  Molecules of the Atomic web design
  - atoms combined together
  - they do one thing and do it well
*/





/* Grid
--------------------------------------------------------------------------------
*/


/* Flexible grid
  - all items are aligned left with an uniform margin
  - this grid can be dynamically positioned by Isotope
*/
@mixin flexible-grid ($max-width: 30%, $margin: 3%) {
  width: auto;
  float: left;
  
  max-width: $max-width;
  margin: $margin $margin 0 0;
}


/* Golden ratio
  - applies to a container which contains at least two sub-containers of any type
  - $first and $second params are the child-index of the two sub-containers to be in golden-ratio
  - $margin is the right margin of the first element in the golden ratios
  - example: @include golden-ratio(2, 3) makes the 2nd and 3rd sub-container to be in golden-ratio
*/
@mixin golden-ratio($first: 1, $second: 2, $margin: 0) {
  > * {
    &:nth-child(#{$first}) {
      float: left;
      width: $major - $margin;
      margin-right: $margin;
    }
    
    &:nth-child(#{$second}) {
      float: left;
      width: $minor;
    }
  }
}


/* The width of the content
  - the content is centered with automatic left and right margins
*/
@mixin container {
  width: $container-width;
  margin: 0 $container-margin;
}




/* Hide a section title
*/
@mixin hide-title {
  > h3 {
    display: none;
  }
}

/* Adds padding around a grid element
  - the width of the element must be recalculated
*/
@mixin padding($width: 100%) {
  padding: $pad;
  @include grid-resize($width, $pad*2);
}


/* Resize a grid column 
*/
@mixin grid-resize($width, $resize) {
  width: calc(#{$width} - #{$resize})
}








/* Navigation
--------------------------------------------------------------------------------
*/

/* Displays an <ul> list inline
*/
@mixin list-inline {
  li {
    display: inline-block;
    float: left;
    margin-right: $pad;
    
    &:last-of-type {
      margin-right: 0;
    }  
  }
}

/* Transforms an inline list back to normal
*/
@mixin list-normal {
  li {
    display: block;
    margin-right: none;
    float: none;
  }
}





/* Typography
--------------------------------------------------------------------------------
*/

/* From http://lamb.cc/typograph/ using traditional / em scaling
*/
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.16667em; }
h2 { font-size:1.33333em; }
h3 { font-size:1.16667em; }


/* Long text font settings
*/
@mixin text-body {
  @include font-body;
  line-height: $line-height-body-text;
  
  h1 { padding:1.45833em 0; }
  h2 { padding:1.25em 0; }
  h3 { padding:1.51785em 0; }
}

/* Headings, navigation font settings
*/
@mixin text-headings {
  @include font-headings;
  line-height: $line-height-headings;
}

/* Headings
*/
h1, h2, h3, h4, h4, h6 {
  @include text-headings;
}



/* Images
--------------------------------------------------------------------------------
*/

@mixin fluid-image{
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}


@mixin big-background-image($height: 100%) {
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: $height;
}




/* Decorations
--------------------------------------------------------------------------------
*/


@mixin invert($c: $background, $b: $color, $p: $pad/2) {
  color: $c;
  background: $b;
  padding: $pad/2;
  
  @include link($c, $c);
}

/* Lists
*/

@mixin list {
  ul, ol {
    li {
      border-bottom: $border;
      margin-bottom: $pad/4;
    }
  }
}


/* Links
*/

@import "compass/typography/links/link-colors";
@mixin link($c: $color, $h: $highlight) {
  a {
    @include link-colors($c, $h);
    text-decoration: none;
  }
}


