/*
  Organisms of the Atomic web design
  - groups of molecules joined together to form a relatively complex, distinct section of an interface.
*/



/* An article
  - displays mostly article thumbs
*/
@mixin article($category, $date, $title, $figure: null, $figcaption: null, $excerpt: null, $body: null) {
  margin-bottom: $flexible-grid-margin;
  
  @if ($title == null) {
    h1 {
      display: none ;
    }
  }
  
  @if ($figure == null) {
    figure {
      display: none;
    }
  } @else {
    figure {
      display: block;
    }
  }
  
  @if ($figcaption == null) {
    figcaption {
      display: none;
    }
  }
  
  @if ($excerpt == null) {
    #excerpt {
      display: none;
    }
  }
  
  @if ($body == null) {
    #body {
      display: none;
    }
  }
  
  @if ($category == null) {
    #meta #category {
      display: none;
    }
  }
  
  @if ($date == null) {
    #meta #date {
      display: none;
    }
  }
  
  @if ($category == null) and ($date == null) {
    #meta {
      display: none;
    }
  }
  
  #excerpt {
    @include text-article-excerpt;
    color: lighten($color, 15%);
  }
  
  
  #meta {
    margin-top: $pad/2;
    
    ul {
      @include list-inline($pad/2);
    }
    
    #date {
      font-size: small;
      color: lighten($color, 30%);
    }
  }
  
  #content {
    @include text-body;
  }
}


/* Single article
*/
@mixin single-article {
  @include block;
  @include col(64%, 3%);
  
  article {
    @include article(category, date, title, figure, figcaption, null, body);
  }
}



/* Category articles
*/
@mixin category-articles {
  @include col(64%, 3%);
  
  h1.title {
    @include section-title;
    @include h1;
  }
  
  article {
    @include article(null, null, title, figure);
    @include responsive-grid(3);
  }
}


/* Category aside
*/
@mixin category-aside {
  @include col(33%, 0);
  @include padding(33%);
  background: $light-grey;
  
  section {
    @include article-news; 
    margin-bottom: $pad*2;
    
    h3 {
      margin-bottom: $pad/4;
    }
    
    article {
      border-color: $background;
      h1 {
        font-weight: normal;
      }
    }
    
    &#projects {
      article {
        @include block;
        @include article(null, null, title, figure);
        
        figure {
          width: 50%;
          float: left;
          margin-right: $pad;
        }
      }
    }
  }
}





/* Most read
*/
@mixin most-read {
  aside {
    @include responsive-grid(3);
    
    h3 {
      @include section-title;
      margin-bottom: $pad/2;
    }
    
    counter-reset: counter;
    article {
      @include article(null, null, title, null);
      @include border-thin;
    
      h1 {
        font-size: medium;
      }
      
      &:before {
        content: counter(counter);
        counter-increment: counter;
        @include invert;
        padding: $pad/4 $pad/2;
        display: inline-block;
        margin-right: $pad/2;
        float: left;
      }
    }
    
    &:last-of-type {
      article {
        height: auto;
        
        &:before {
          display: none;
        }
      }
    }
  }
}



/* Projects
*/
@mixin projects {
  h3 {
    @include section-title;
  }
  
  article {
    @include article(null, null, title, figure);
    @include responsive-grid(5);
  }
}


/* Products
*/
@mixin products {
  border-top: $border;
  padding-top: $pad;
  
  article {
    @include article(null, null, title, figure);
    @include responsive-grid(4);
    
    figure {
      max-height: 209px;
      overflow: hidden;
    }
  }
}


/* Investigations
*/
@mixin investigations {
  h3 {
    @include section-title;
  }
  
  article {
    @include flexible-grid;
    @include article(null, date, title, figure, null, excerpt, null);
    border-top: $border;
    padding-top: $pad;
  }
}


/* A list of articles with title only
*/
@mixin article-news {
  h3 {
    @include section-title;
  }
  
  article {
    @include article(null, null, title);
    @include border-thin;
    
    h1 {
      font-size: medium;
    }
  }
}



/* The news
*/
@mixin news {
  @include col(33%, 0);
  @include article-news;
  
  @include below-and-tablet {
    @include block;
  }
}


/* The slider on the frontpage
*/
@mixin slider {
  @include col(64%, 3%);
  @include padding(63%);
  background: $light-grey;
  
  article {
    @include article(null, null, title, figure, null, excerpt);
    @include block;
    margin-bottom: 0;
    
    figure {
      @include col(47%, 4%);
    }
    
    #excerpt {
      margin-top: $pad;
    }
  }
  
  nav {
    @include hide-title;
    margin-top: $pad;
    
    ol {
      @include list-inline;
      @include list-menu(block, $pad/2, $pad/2 + $pad/4);
      
      li {
        @include invert($color, $background);
      }
    }
  }
}


/* Teh fixed header
*/
@mixin fixed-header {
  #header {
    position: fixed;
    @include container;
    
    border-bottom: $border-thin;
    margin: 0 0 $pad*2 !important;
    padding-top: $pad;
    top: 0;
    height: $pad*2;
    
    background: $background;
    z-index: 1;
    
    nav {
      margin-top: 0;
      border: none;
    }
    
    #logo {
      height: $pad + $pad/2 + $pad/8;
      
      figure img {
        max-width: 10em;
        position: relative;
        top: -$pad/4;
      }
    }
    
    #tags {
      display: none;
    }
  }

  main, #footer {
    position: relative;
    top: $pad*6;
  }
}




/* The header
*/
@mixin header {
  hgroup {
    @include responsive-grid(3);
    
    text-align: center;
    h1, figure figcaption {
      display: none;
    }
  }
  
  nav {
    @include responsive-grid(3);
    
    @include text-navigation;
    @include border-thin($color);
    
    padding: $pad/2 0;
    margin-top: $pad*2;
    
    &.mobile {
      display: none;
    }
    
    ul {
      @include list-inline;
      @include list-centered;
      @include list-menu;
      
      li {
        &#russian, &#english {
          height: $pad; /* Because of the icon */
          
          img {
            position: relative;
            top: 1px;
          }
        }
        
        &#english {
          display: none;
        }
      }
    }
    
    &#tags {
      @include block;
      margin-top: $pad/2;
      @include invert;
      
      /* To fit the hover on tags we add a border-top */
      border-top: $border-thin;
      border-color: $color;
    }
  }
  
}


/* Footer
*/
@mixin footer {
  padding: $pad 0;
  border-top: $border;
  @include text-navigation;
  
  ul {
    @include list-inline;
    
    li {
      &#usaid {
        position: relative;
        top: -$pad/2;
      }
    
      &:last-of-type {
        float: right;
      }
      
      &#social {
        position: relative;
        top: -$pad*2 - $pad/4;
        
        p {
          font-weight: bold;
          margin-bottom: $pad;
          text-align: right;
        }
        
      }
    }
  }
}



/* Default settings for this theme
  - like typography, links, colors, etc
*/
@mixin default-settings {
  background: $background;
  color: $color;
  
  @include link;
  
  @include fluid-image;
  
  @include font-body;
  font-size: $font-size;
  line-height: $line-height;
}







