/*
  Organisms of the Atomic web design
  - groups of molecules joined together to form a relatively complex, distinct section of an interface.
*/



/* An article
  - displays mostly article thumbs
*/
@mixin article($category, $date, $title, $figure: null, $figcaption: null, $excerpt: null, $body: null) {
  margin-bottom: $flexible-grid-margin;
  
  #meta {
    margin-top: $pad/2;
    
    ul {
      @include list-inline($pad/2);
    }
  }
  
  h1 {
    @include text-article-title;
    padding: $pad/4 0;
  }
  
  
  @if ($title == null) {
    h1 {
      display: none ;
    }
  }
  
  @if ($figure == null) {
    figure {
      display: none;
    }
  }
  
  @if ($figcaption == null) {
    figcaption {
      display: none;
    }
  }
  
  @if ($excerpt == null) {
    #excerpt {
      display: none;
    }
  }
  
  @if ($body == null) {
    #body {
      display: none;
    }
  }
  
  @if ($category == null) {
    #meta #category {
      display: none;
    }
  }
  
  @if ($date == null) {
    #meta #date {
      display: none;
    }
  }
  
  @if ($category == null) and ($date == null) {
    #meta {
      display: none;
    }
  }
}



/* Most read
*/
@mixin most-read {
  aside {
    @include responsive-grid(3);
    
    h3 {
      display: block;
      @include text-navigation;
      @include link($highlight);
      margin-bottom: $pad/2;
    }
    
    counter-reset: counter;
    article {
      @include article(null, null, title, null);
      border-bottom: $border-thin;
      height: $pad*2 + $pad/2;
    
      h1 {
        font-size: medium;
      }
      
      &:before {
        content: counter(counter);
        counter-increment: counter;
        @include invert;
        padding: $pad/4 $pad/2;
        display: inline-block;
        margin-right: $pad/2;
        float: left;
      }
    }
    
    &:last-of-type {
      article {
        height: auto;
        
        &:before {
          display: none;
        }
      }
    }
  }
}



/* Projects
*/
@mixin projects {
  h3 {
    display: block;
    @include text-navigation;
    @include link($highlight);
  }
  
  article {
    @include article(null, null, title, figure);
    @include responsive-grid(6);
  }
}


/* Products
*/
@mixin products {
  border-top: $border;
  padding-top: $pad;
  
  article {
    @include article(null, null, title, figure);
    
    h1 {
      border-top: $border;
      margin-top: $pad;
    }
  }
}


/* Investigations
*/
@mixin investigations {
  h3 {
    display: block;
    @include text-navigation;
    @include link($highlight);
  }
  
  article {
    @include flexible-grid;
    @include article(null, date, title, figure, null, excerpt, null);
    border-top: $border;
    padding-top: $pad;
  }
}



/* The news
*/
@mixin news {
  @include col(33%, 0);
  
  h3 {
    display: block;
    @include text-navigation;
    @include link($highlight);
  }
  
  article {
    @include article(null, null, title);
    border-bottom: $border-thin;
    
    h1 {
      font-size: medium;
    }
  }
  
  @include below-and-tablet {
    @include block;
  }
}


/* The slider on the frontpage
*/
@mixin slider {
  @include col(64%, 3%);
  @include padding(63%);
  background: $light-grey;
  border: $border-thin;
  
  article {
    @include article(null, null, title, figure, null, excerpt);
    @include block;
    margin-bottom: 0;
    
    figure {
      @include col(46%, 3%);
      
      @include below-normal-screen {
        @include block;
      }
    }
    
    #excerpt {
      margin-top: $pad;
    }
  }
  
  nav {
    @include hide-title;
    margin-top: $pad;
    
    ol {
      @include list-inline;
      
      li {
        padding: $pad/4 $pad/2;
        cursor: pointer;
        border: 1px solid $background;
        background: $background;
        
        &.active, &:hover {
          @include invert($background, $highlight);
          padding: $pad/4 $pad/2;
          border: 1px solid $highlight;
        }
      }
    }
  }
  
  @include below-and-tablet {
    @include block;
  }
}


/* The menu
*/
@mixin menu {
  
}



/* The logo
*/
@mixin logo {
  text-align: center;
  
  h1, figure figcaption {
    display: none;
  }
}


/* The header
*/
@mixin header {
  margin: $pad 0;
  
  hgroup {
    @include col(33%);
    @include logo;
  }
  
  nav {
    @include col(33%);
    @include text-navigation;
    border-bottom: $border-thin;
    border-color: $color;
    padding: $pad/2 0;
    margin-top: $pad*2;
    
    &.mobile {
      display: none;
    }
    
    ul {
      @include list-inline;
      @include list-centered;
      
      li {
        &.active {
          a {
            @include invert($background, $highlight);
          }
        }
      }
    }
    
    
    &#tags {
      @include block;
      @include invert;
      border: none;
      margin-top: $pad;
    }
  }
  
  @include below-normal-screen {
    border-bottom: $border-thin;
    cursor: pointer;
    
    hgroup {
      border-bottom: $border-thin;
      padding-bottom: $pad/2;
    }
  
    hgroup, nav {
      @include block;
    }
    
    nav {
      padding: $pad/2 0;
      
      &:nth-of-type(1) {
        display: none;
      }
      
      &.mobile {
        display: block;
      }
      
      @include col(30%, 5%);
      &#tags {
        @include col(30%, 0);
      }
      text-align: center;
      
      h3 {
        display: block;
        font-size: small;
        @include text-navigation;
      }
      
      ul {
        display: none;
        margin: $pad 0;
        
        li {
          margin-right: 0;
          word-wrap: break-word;
          margin-bottom: $pad/2;
          @include link($blue);
        }
      }
    }
    
    &.active {
      nav {
        h3 {
          font-weight: bold;
        }
        ul {
          display: block;
          @include list-normal;
        }
      }
    }
  }
}



/* Default settings for this theme
  - like typography, links, colors, etc
*/
@mixin default-settings {
  background: $background;
  color: $color;
  
  @include link;
  
  @include fluid-image;
  
  @include font-body;
  font-size: $font-size;
  line-height: $line-height;
}







