/*
  Organisms of the Atomic web design
  - groups of molecules joined together to form a relatively complex, distinct section of an interface.
*/


/* Default settings
*/
@mixin default-settings {
  background: $background;
  color: $color;
  
  a {
    @include link;
  }
  
  img {
    width: 100%;
  }
}



/* The logo
*/
@mixin logo {
  h1 {
    display: none;
  }
  
  figure {
    margin-right: $pad;
    
    figcaption {
      display: none;
    }
  }
}




/* Navigation
--------------------------------------------------------------------------------
*/


/* Transforms a <nav> element into a menu
*/
@mixin menu {
  h3 {
    display: none;
  }
  
  ul {
    @include list-inline;
  }
  
  /* Secondary navigation
  */
  &:last-of-type {
    float: right;
  }
}
