---
layout: category
title: Investigations
class: category
---

<aside>
  {% for post in site.categories.investigations limit:1 %}
    {% include article.html klass = 'category-first' %}
  {% endfor %}
</aside>

{% for post in site.categories.investigations offset:1 %}
  {% include article.html klass = 'thumb' %}
{% endfor %}

{% for post in site.categories.slider %}
  {% include article.html klass = 'thumb' %}
{% endfor %}

{% for post in site.categories.news limit:1 %}
  {% include article.html klass = 'thumb' %}
{% endfor %}
