{% include head.html %}
{% include header.html %}

<main id="main">

  <section id="article">
    {% assign post = page %}
    {% include article.html klass = 'single' %}
    
    <div id="most-read">
      <h3>Most read in this category</h3>
      {% for post in site.categories.investigations limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </div>
    
    <div id="most-recent">
      <h3>Most recent</h3>
      {% for post in site.categories.daily limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </div>
  </section>
  
  
  
  <aside>
    {% if post.related-articles.size > 0 %}
      <section id="related-articles">
        <h3>Related articles</h3>
        {% for post in site.categories.investigations limit:5 %}
          {% include article.html klass = 'thumb' %}
        {% endfor %}
      </section>
    {% endif %}
    
    <section id="projects">
      <h3>Projects</h3>
      {% for post in site.categories.projects limit:5 offset:0 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </section>
    
    <section id="spacer">
      <h3>Fixed sidebar spacer</h3>
    </section>
  </aside>
</main>

{% include footer.html %}
</body>
</html>
