{% include head.html %}
{% include header.html %}

<main id="main">

  <section id="article">
    {% assign post = page %}
    {% include article.html klass = 'single' %}
    
    {% if post.related-documents.size > 0 %}
      <div id="related-documents">
        <h3>Related documents</h3>
        <ul>
          {% for document in post.related-documents %}
            <li>
              <a href="{{ site.url }}/{{ document.url }}" title="{{ document.name }}">{{ document.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    {% if post.related-graphics.size > 0 %}
      <div id="related-graphics">
        <h3>Related graphics</h3>
        <ul>
          {% for document in post.related-graphics %}
            <li>
              {% include responsive-images.html title=document.title link="" normal=document.url mobile=document.url %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    {% if post.related-persons.size > 0 %}
      <div id="related-person">
        <h3>Related person</h3>
          <ul>
            {% for document in post.related-persons %}
              <li>
                {% include responsive-images.html title=document.title link="" normal=document.url mobile=document.url %}
              </li>
            {% endfor %}
          </ul>
      </div>
    {% endif %}
    
    {% if post.videos.size > 0 %}
      <div id="videos">
        <h3>Videos</h3>
          <ul>  
            {% for document in post.videos %}
              <li>
                {% include responsive-images.html title=document.title link="" normal=document.url mobile=document.url %}
              </li>
            {% endfor %}
          </ul>
      </div>
    {% endif %}
    
    <div id="most-read">
      <h3>Most read in this category</h3>
      
      {% for post in site.categories.investigations limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </div>
    
    <div id="most-recent">
      <h3>Most recent</h3>
      
      {% for post in site.categories.daily limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </div>
  </section>
  
  
  
  <aside>
    {% if post.related-articles.size > 0 %}
      <section id="related-articles">
        <h3>Related articles</h3>
        {% for post in site.categories.investigations limit:5 %}
          {% include article.html klass = 'thumb' %}
        {% endfor %}
      </section>
    {% endif %}
    
    <section id="projects">
      <h3>Projects</h3>
      {% for post in site.categories.projects limit:5 offset:0 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </section>
  </aside>
</main>

{% include footer.html %}
</body>
</html>
