{% include head.html %}
{% include header.html %}

<main id="main">
  
  <section id="articles">
    <aside>
      {% assign post = page %}
      {% include article.html klass="bio" type="bio"  %}
    </aside>
    
    {% for post in site.categories.investigations  %}
      {% include article.html klass = 'thumb' %}
    {% endfor %}
    
    {% assign items = 7 %}
    {% include navigation.html %}
  </section>
  
  <aside>
    <section id="most-recent">
      <h3>Popular</h3>
      
      {% for post in site.categories.daily limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </section>
    
    <section id="most-read">
      <h3>Latest posts</h3>
      
      {% for post in site.categories.investigations limit:5 %}
        {% include article.html klass = 'thumb' %}
      {% endfor %}
    </section>
    
    <section id="authors">
      <h3>Other Authors</h3>
      
      {% for post in site.posts limit: 20 %}
        {% if post.authors %}
          {% if post.authors[0].name != '' %}
            <article>
              <h1><a href="{{ site.url }}/author-homepage" title="{{ post.title }}">{{ post.authors[0].name }}</a></h1>
            </article>
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>
    
    <section id="spacer">
      <h3>Fixed sidebar spacer</h3>
    </section>
  </aside>
</main>

{% include footer.html %}
</body>
</html>
